In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('./hh_resources/facilities_geocoded.csv')
df.drop(columns=['street', 'city_state_zip', 'treatment_type'], inplace=True)
df.head()

    latitude  longitude
0  42.114639 -72.597621
1  42.601073 -72.594003
2  42.459569 -73.249310
3  42.166123 -72.633596
4  42.483165 -72.884505